*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, #BED8D4, #F7F9F9);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#main-input {
  font-size: 1em;
  padding: 1rem;
}
#main-input:focus {
  outline: 1px solid #CF5C36;
}
#submit-btn {
  width: 5rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
  aspect-ratio: 16 / 7;
  background-color: #7C7C7C;
  border: none;
  outline: none;
  color: white;
  border-radius: 0.1rem;
}
a {
  color: #2081C3;
}